[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pillow = "*"
pylint-django = "*"
selenium = "*"
dotenv = "*"
beautifulsoup4 = "*"
requests = "*"
mercadopago = "*"
gunicorn = "*"
psycopg2-binary = "*"
dj-database-url = "*"
whitenoise = "*"
django-sendgrid-v5 = "*"

[dev-packages]

[requires]
python_version = "3.13"
